<template>
<div class="bgcolor">

<div class="row">

  <div class="col-sm-4">

    <div id="boxleft-blue" class="box">
      <!-- <img id="resize_img" src="../assets/img_padthai.jpg" alt="Avatar"> -->
      <h1>Somi</h1>
      <p style="text-align:center; font-weight: normal;">We are the dream girls.</p>
    </div>
    <div id="boxleft-white" class="box">
    </div>

    <div id="box-statistic-blue" class="box">
      <!-- <img src="../assets/chart.png" style="width:20px;">  -->
      <a class="material-icons" style="color:white;">Statistics</a>
    </div>
    <div id="box-statistic-white" class="box">
      <div class="row" style="padding-top:15px">
        <div class="col-sm-4" style="width:94px;  border-right: 1px solid gray;">
          <a style="color:black; font-size: 15px;">1</a><br>
          <a style="color:black; font-size: 15px;">Posts</a>
        </div>
        <div class="col-sm-4" style="width:94px;  border-right: 1px solid gray;">    
          <a style="color:black; font-size: 15px;">3k</a><br>
          <a style="color:black; font-size: 15px;">Likes</a>
        </div>
        <div class="col-sm-4">    
          <a style="color:black; font-size: 15px;">2</a><br>
          <a style="color:black; font-size: 15px;">Comments</a>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-8">
    
    <div id="boxright-blue" class="box">
      <a style="color:white; font-size: 18px;">Account Setting</a>
    </div>

    <div id="boxright-white" class="box">
       <p>Profile Picture</p>
      <input type="text" placeholder="http://www.somi-pics.com/001.jpg" >
      <p>Username</p>
      <input type="text" placeholder="Somi">
      <p>Biography</p>
      <input type="text" placeholder="We are the dream girls.">
      <p>Email</p>
      <input type="text" placeholder="somi.ioi@jyp.e">
      <p>New Password</p>
      <input type="text" placeholder="">
      <p>Confirm New Password</p>
      <input type="text" placeholder="">  <br><br>
      
      <button id="btn_blue">Save</button>
      <button id="btn_red">Cancel</button>
  
    </div>



  </div>



</div>

</div>
</template>

<script>
export default {
  name: "AccountSetting",
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#btn_blue {
  width: 165px;
  height: 48px;
  color: white;
  background-color: #31a8d9;
}
#btn_red {
  width: 165px;
  height: 48px;
  color: white;
  background-color: #eb5757;
}
input {
  width: 100%;
  background-color: #e0e0e0;
}
#boxright-blue {
  padding: 5px;
  text-align: left;
  margin-top: 30px;
  width: 623px;
  height: 32px;
  background-color: #31a8d9;
  margin-left: 55px;
}
#boxright-white {
  padding: 10px;
  width: 623px;
  height: 490px;
  background-color: white;
  margin-left: 55px;
}
#box-right {
  background-color: gray;
  height: 623px;
  width: 485px;
}
.bgcolor {
  background-color: #e0e0e0;
  height: 100vh;
  width: 100vw;
}
#boxleft-blue {
  margin-top: 30px;
  width: 280px;
  height: 90px;
  background-color: #31a8d9;
  margin-left: 55px;
}
#boxleft-white {
  width: 280px;
  height: 145px;
  background-color: white;
  margin-left: 55px;
}
#resize_img {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
#box-statistic-blue {
  margin-top: 11px;
  width: 279px;
  height: 32px;
  background-color: #31a8d9;
  margin-left: 55px;
  color: black;
  text-align: center;
  font-size: 20px;
}
#box-statistic-white {
  width: 280px;
  height: 80px;
  background-color: white;
  margin-left: 55px;
}
.material-icons {
  vertical-align: middle;
}
p {
  font-weight: bold;
  padding-top: 5px;
  font-size: 15px;
  text-align: left;
  padding: 5px;
}
</style>