<template>
    <div id="comment-item">
        <div class="columns">
            <div class="column is-1">
                <div class="user-pic"></div>
            </div>
            <div class="column">
                <div class="comment-content">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'CommentItem'
    }
</script>

<style scoped>
#comment-item {
    height: 44px;
    width: 100%;
    background-color: #F2F2F2;
}
.user-pic {
    margin: auto;
    margin-top: 7px;
    height: 30px;
    width: 30px;
    background-color: #333333;
    border-radius: 50%;
}
.comment-content {
    float: left;
    background-color: #FFFFFF;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
}
.columns {
    margin: 0px;
}
.column {
    padding: 0px;
}
</style>