<template>
    <div id="feed">
        <div class="title-bar">
            <p class="title-text">FEED</p>
        </div>
        <div class="table-head">
            <div class="icon-title">
                Title
            </div>
        </div>
        <PostItem v-for="(item,index) in postList" :key="index" :data="item" :no="index"></PostItem>
    </div>
</template>

<script>
    import PostItem from './PostItem.vue'
    export default {
        name: 'Feed',
        data () {
            return {
                postList: [
                    {
                       title: 'Title1 Ucri Ucri cricccc cccccc cccc cccccccccccccccc',
                       tags: '#eiei,#fifi,#hihi',
                       post_at: '2 hours',
                       views: '2K',
                       likes: '343',
                       comments: '111'
                    },
                    {
                       title: 'Title2',
                       tags: '#eiei,#fifi,#hihi',
                       post_at: '2 hours',
                       views: '8K',
                       likes: '343',
                       comments: '111'
                    },
                    {
                       title: 'Title3',
                       tags: '#eiei,#fifi,#hihi',
                       post_at: '2 hours',
                       views: '6K',
                       likes: '343',
                       comments: '111'
                    },
                    {
                       title: 'Title4',
                       tags: '#eiei,#fifi,#hihi',
                       post_at: '2 hours',
                       views: '3K',
                       likes: '343',
                       comments: '111'
                    }
                ]
                
            }
        },
        components: {
            PostItem
        }
    }
</script>

<style scoped>
.title-bar {
    margin-top: 20px;
    height: 40px;
    padding: 8px;
    background-color: #31A8D9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.title-text {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #F2F2F2;
}
.table-head {
    background-color: #BDBDBD;
    height: auto;
}
.icon-title {
    padding-left: 9px;
    color: #F2F2F2;
    font-size: 14px;
    font-weight: bolder;
}
.post-stats {
    float: right;
    padding: 2px 20px 0 0;
    color: #F2F2F2;
    font-size: 14px;
    font-weight: bolder;
}
.icon-title, .post-box, .post-stats {
    display: inline-block;
    vertical-align: baseline;
}

</style>