<template>
    <div id="forgot">
            <p class="title-text">Forgot?</p>
            <p class="subtitle-text">We will send you your password.</p>
            <div class="forgot-box">
                <input class="input-text" type="text" placeholder="Enter your e-mail address ...">
            </div>
            <div class="send-button">
                <p>SEND</p>
            </div>
    </div>
</template>

<script>
    export default {
        name: 'Forgot'
    }
</script>


<style scoped>
#forgot {
    background-color: #31A8D9;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.title-text {
    font-family: 'Neuton', serif;
    font-size: 96px;
    color: #F2F2F2;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: 10%;
}
.subtitle-text {
    font-family: 'Neuton', serif;
    font-size: 36px;
    color: #F2F2F2;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: -30px; 
}
.forgot-box {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    width: 420px;
    height: 80px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    padding: 20px;
}
.input-text {
    width: 100%;
    height: 40px;
    padding-left: 5px; 
    border: none;
    color: #4F4F4F;
    background-color: #EAEAEA;
    font-size: 18px;
}
.send-button {
    height: 49px;
    width: 420px;
    background-color: #F2994A;
    margin: auto;
    /* margin-top: 15px; */
    color: #F2F2F2;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

*:focus {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #828282;
  font-style: italic;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #828282;
  font-style: italic;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #828282;
  font-style: italic;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: #828282;
  font-style: italic;
  text-align: center;
}
</style>