<template>
    <div id="hot-post">
        <div class="box-header">
            <span class="icon">
                <i class="fas fa-fire"></i>
            </span>
            <span>Hot Post</span>
        </div>
        <div class="box-content"></div>
    </div>
</template>

<script>
    export default {
        name: 'HotPost'
    }
</script>

<style scoped>
#hot-post {
    height: 186px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.box-header{
    padding-top: 3px;
    text-align: center;
    color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    height: 32px;
    width: 100%;
    background-color: #31A8D9;
}
.box-content {
    height: calc(100% - 32px);
    width: 100%;
    background-color: #F2F2F2;
}
.icon {
    color: #F2994A;
}
</style>