<template>
    <div id="login">
        <div class="container">
            <p class="banner">#BOARD</p>
            <div class="login-box">
                <div class="logo">
                    <span class="icon">
                        <i class="fas fa-3x fa-comments"></i>
                    </span>
                </div>
                <div class="input-box">
                    <div class="icon-input">
                        <span class="icon">
                            <i class="fas fa-lg fa-user"></i>
                        </span>
                    </div>
                    <input class="input-text" type="text">
                </div>
                <div class="input-box">
                    <div class="icon-input">
                        <span class="icon">
                            <i class="fas fa-lg fa-key"></i>
                        </span>
                    </div>
                    <input class="input-text" type="password">
                </div>
                <div class="guide">
                    <p class="text-left">Forgotten password?</p>
                    <p class="text-right">Sign Up</p>
                </div>
                <div class="sign-button">
                    <p>SIGN IN</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Login'
    }
</script>


<style scoped>
#login {
    background-color: #31A8D9;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.banner {
    text-align: center;
    margin-top: 125px;
    color: #F2F2F2;
    font-family: 'Neucha', cursive;
    font-size: 96px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
.login-box {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    width: 360px;
    height: 345px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    padding: 20px;
}
.logo {
    height: 80px;
    width: 80px;
    background-color: #31A8D9;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    padding: 25px;
    color: #F2F2F2;
}
.input-box {
    height: 46px;
    width: 90%;
    background-color: #F2F2F2;
    margin: auto;
    margin-top: 15px;
    padding: 3px;
    color: #F2F2F2;
}

.icon-input {
    height: 40px;
    width: 40px;
    padding-top: 8px;
    text-align: center;
    background-color: #31A8D9;
}

.input-text {
    margin-left: 5px;
    width: 233px;
    height: 40px;
    margin-top: -10px;
    border: none;
    color: #4F4F4F;
    background-color: transparent;
    font-size: 18px;
}

.input-text, .icon-input {
    display: inline-block;
}

.sign-button {
    height: 49px;
    width: 90%;
    background-color: #F2994A;
    margin: auto;
    margin-top: 15px;
    color: #F2F2F2;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

*:focus {
    outline: none;
}
.guide {
    margin-top: 5px;
    height: 15px;
}
.text-left {
    float: left;
    margin-left: 17px;
}
.text-right {
    float: right;
    margin-right: 17px;
}
</style>