<template>
    <div id="main-container">
        <div class="columns">
            <div class="column is-two-thirds">
                <Post class="left-container" v-if="whereami"></Post>
                <Feed class="left-container" v-else></Feed>
            </div>
            <div class="column">
                <div class="right-container">
                    <Search class="search-box"></Search>
                    <MostSubscribe class="most-subscr-box" :data="topList"></MostSubscribe>
                    <HotPost class="hot-post"></HotPost>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Post from './Post.vue'
    import Feed from './Feed.vue'
    import Search from './Search.vue'
    import MostSubscribe from './MostSubscribe.vue'
    import HotPost from './HotPost.vue'
    export default {
        name: 'MainContainer',
        data () {
            return {
                topList: [
                    {
                        name: '#Twice',
                        subNo: '24K'
                    },
                    {
                        name: '#WANNAONE',
                        subNo: '20K'
                    },
                    {
                        name: '#JBJ',
                        subNo: '9K'
                    },
                    {
                        name: '#Got7',
                        subNo: '7K'
                    },
                    {
                        name: '#OhMyGirl',
                        subNo: '2K'
                    }
                ]
            }
        },
        computed: {
            whereami: {
                get() {
                    if(this.$route.path == '/post'){
                        return true
                    }
                    else return false
                },
                set () {

                }
            }
        },
        components: {
            Post,
            Feed,
            Search,
            MostSubscribe,
            HotPost
        }
    }
</script>

<style scoped>
#main-container{
    font-family: 'Roboto', sans-serif;
    background-color: #E0E0E0;
    position: absolute;
    top: 52px;
    left: 0;
    height: calc(100% - 52px);
    width: 100%;
}
.left-container {
    float: right;
    padding-right: 20px;
    width: 90%;
}
.right-container {
    float: left;
    padding-right: 20px;
    width: 90%;
}
.search-box {
    margin-top: 20px;
}
.most-subscr-box {
    margin-top: 20px;
}
.hot-post {
    margin-top: 20px;
}
*:focus {
    outline: none;
}
</style>