<template>
    <div id="most-subscribe">
        <div class="box-header">
            <span class="icon">
                <i class="fas fa-chess-queen"></i>
            </span>
            <span>Most Subscribe</span>
        </div>
        <div class="box-content">
            <div v-for="(item, index) in data" :key="index"> {{item.name}} {{item.subNo}} <p :class="Toptier"></p> </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MostSubscribe',
        props: ['data'],
        computed: {
            Toptier: {
                get () {
                    console.log(this)
                    if(this.data == 0) return 'top-first'
                    else if(this.key == 1 || this.key == 2) return 'top-second'
                    else return 'top-third'
                }
            }
        }
    }
</script>

<style scoped>
#most-subscribe {
    height: auto;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.box-header{
    padding-top: 3px;
    text-align: center;
    color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    height: 32px;
    width: 100%;
    background-color: #31A8D9;
}
.box-content {
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
    padding: 10px;
}
.icon {
    color: #FFD75F;
}
.top-first {
    font-size: 20px;
    font-weight: bolder;
}
.top-second {
    font-size: 18px;
    font-weight: bolder;
}
.top-third {
    font-size: 16px;
    font-weight: bolder;
}
</style>