<template>
    <div id="nav-bar">
        <nav class="navbar is-info">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <span class="icon">
                        <i class="fas fa-lg fa-hashtag"></i>
                    </span>
                </a>
                <div class="navbar-burger burger">
                <span></span>
                <span></span>
                <span></span>
                </div>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <router-link :to="{ path: '/feed'}" class="navbar-item">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        <span>Home</span>
                    </router-link >
                    <router-link :to="{ path: '/newpost'}" class="navbar-item">
                        <span class="icon">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <span>New Post</span>
                    </router-link >
                    <a class="navbar-item" @click="ClickNoti">
                        <span class="icon">
                            <i class="fas fa-bell"></i>
                        </span>
                        <span>Notifications</span>
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="user-pic"></div>
                    </div>
                    <div class="navbar-item">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                            Username
                            </a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item" href="#">
                                <span class="icon">
                                    <i class="fas fa-sticky-note"></i>
                                </span>
                                <span>My Post</span>
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="#">
                                <span class="icon">
                                    <i class="fas fa-cog"></i>
                                </span>
                                <span>Account Setting</span>
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="#">
                                <span class="icon">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                                <span>Sign Out</span>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </nav>
        <div class="modal is-active" v-show="show">
            <div class="modal-background" @click="CloseNoti"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                <p class="modal-card-title">Notifications</p>
                <button class="delete" aria-label="close" @click="CloseNoti"></button>
                </header>
                <section class="modal-card-body">
                <Notification></Notification>
                <Notification></Notification>
                <Notification></Notification>
                <Notification></Notification>
                <Notification></Notification>
                </section>
                <footer class="modal-card-foot">
                    <div class="load-more"><p>...</p></div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    import Notification from './Notification.vue'
    export default {
        name: 'NavBar',
        data () {
            return {
                show: false
            }
        },
        methods: {
            ClickNoti() {
                this.show = true
            },
            CloseNoti() {
                this.show = false
            }
        },
        components: {
            Notification
        },
        computed: {
        }
    }
</script>

<style scoped>
#nav-bar {
    width: 100%;
    font-weight: bold;
}
.navbar.is-info .navbar-brand > a.navbar-item:hover, .navbar.is-info .navbar-brand > a.navbar-item.is-active, .navbar.is-info .navbar-brand .navbar-link:hover, .navbar.is-info .navbar-brand .navbar-link.is-active{
    background-color: #248dd2;
}
.navbar.is-info .navbar-start > a.navbar-item:hover, .navbar.is-info .navbar-start > a.navbar-item.is-active, .navbar.is-info .navbar-start .navbar-link:hover, .navbar.is-info .navbar-start .navbar-link.is-active, .navbar.is-info .navbar-end > a.navbar-item:hover, .navbar.is-info .navbar-end > a.navbar-item.is-active, .navbar.is-info .navbar-end .navbar-link:hover, .navbar.is-info .navbar-end .navbar-link.is-active {
    background-color: #248dd2;
}
.navbar.is-info {
    background-color: #31A8D9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.user-pic {
    margin-right: -20px; 
    height: 40px;
    width: 40px;
    background-color: #F2F2F2;
    border-radius: 50%;
}
.load-more {
    height: 20px;
    color: #F2F2F2;
    text-align: center;
    margin: auto;
    margin-top: -10px;
}
.modal-card-head {
    background-color: #31A8D9;
    padding: 10px;
}
.modal-card-title {
    color: #F2F2F2;
}
.modal-card-body {
    padding: 10px;
}
.modal-card-foot {
    background-color: #BDBDBD;
    padding: 3px;
}
</style>