<template>
    <div id="newpost">
        <div class="container">
            <div class="box-header"><p>Add New Post</p></div>
            <div class="box-content">
                <input class="input-title" type="text" name="title" placeholder="Title ..." v-model="title">
                <input class="input-tag" type="text" name="tag" placeholder="#Tag" v-model="tags">
                <vue-editor id="editor"
                            useCustomImageHandler
                            @imageAdded="handleImageAdded" 
                            v-model="content"></vue-editor>
            </div>
            <div class="box-footer">
                <a class="publish-button button">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
                    <span>Publish</span>
                </a>
                <a class="cancle-button button">
                    <span class="icon">
                        <i class="fas fa-times"></i>
                    </span>
                    <span>Cancle</span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import { VueEditor } from 'vue2-editor'
    export default {
        name: 'NewPost',
        data() {
            return {
                title: '',
                tags: '',
                content: ''  
            }
        },
         methods: {
            handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
                var formData = new FormData();
                formData.append('image', file)
                axios({
                    url: 'https://fakeapi.yoursite.com/images',
                    method: 'POST',
                    data: formData
                })
                .then((result) => {
                    let url = result.data.url // Get url from response
                    Editor.insertEmbed(cursorLocation, 'image', url);
                    resetUploader();
                })
                .catch((err) => {
                    console.log(err);
                })
            }
        },
        components: {
            VueEditor
        }
    }
</script>

<style scoped>
#newpost {
    background-color: #F2F2F2;
    position: absolute;
    top: 52px;
    left: 0;
    height: calc(100% - 52px);
    width: 100%;
    padding-top: 30px;
}
.box-header {
    width: 100%;
    height: 40px;
    background-color: #31A8D9;
    color: #F2F2F2;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 5px 5px 20px;
}
.box-content {
    width: 100%;
    background-color: #FFFFFF;
    padding: 17px;
}
.box-footer {
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}
.input-title {
    width: 100%;
    height: 40px;
    padding-left: 5px; 
    border: none;
    color: #4F4F4F;
    background-color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.input-title:focus, .input-tag:focus  {
    outline: 1px solid #31A8D9;
}
.input-tag {
    width: 100%;
    height: 30px;
    padding-left: 5px; 
    border: none;
    color: #4F4F4F;
    background-color: #F2F2F2;
    font-size: 14px;
    margin-bottom: 10px;
}
.publish-button {
    background-color: #27AE60;
    color: #F2F2F2;
}
.cancle-button {
    background-color: #EB5757;
    color: #F2F2F2;
}
</style>