<template>
    <div id="noti">
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'Notification',
        data () {
            return {
                NotiList: []
            }
        },
        created () {
            // axios.get(url).then((res,err) => {
            //     this.NotiList = res.data
            // })
        }
    }
</script>

<style scoped>
#noti {
    background-color: #F2F2F2;
    height: 42px;
    margin-bottom: 2px;
}
</style>