<template>
    <div id="post-item" :class="bgPost">
        <div class="columns">
            <div class="column is-narrow">
                <div class="icon-title">
                    <img src="../assets/chat.png" width="37" height="37">
                </div>
            </div>
            <div class="column">
                    <p class="title is-5 post-title">{{data.title}}</p>
                    <div class="subtitle">
                        <span class="tag" v-for="(tag,index) in tags" :key="index">{{tag}}</span>
                        <span class="stats">
                            <span class="icon">
                                <i class="fas fa-eye"></i>
                            </span>{{data.views}} 
                            <span class="icon">
                                <i class="fas fa-comments"></i>
                            </span>{{data.comments}} 
                            <span class="icon">
                                <i class="fas fa-heart"></i>
                            </span>{{data.likes}}
                        </span>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'PostItem',
        props: ['data','no'],
        data () {
            return {
                tags: []
            }
        },
        computed: {
            bgPost: {
                get () {
                    if(this.no%2 == 0){
                        return 'post-bg-1'
                    }
                    else return 'post-bg-2'
                },
                set () {}
            }
        },
        created () {
            this.tags = this.data.tags.split(',')
        }
    }
</script>

<style scoped>
#post-item {
    height: auto;
    margin-top: 1px;
}
.icon-title {
    padding-left: 9px;
    padding-top: 7px;
}
.post-title {
    color: #4F4F4F;
    font-size: 20px;
    font-weight: bold;
}
.post-title:hover {
    color: #F2994A;
    font-size: 20px;
    font-weight: bold;
}
.post-box {
    line-height: 20px;
}
.post-stats {
    float: right;
    padding: 17px 20px 0 0;
    color: #828282;
    font-weight: bolder;
}
.icon-title, .post-box, .post-stats {
    display: inline-block;
    vertical-align: baseline;
}
.post-bg-1 {
    background-color: #F2F2F2;
}
.post-bg-2 {
    background-color: #ECECEC;
}
span.tag {
    background-color: transparent;
    border: solid 1px #828282;
    color: #828282;
    border-radius: 10px;
    font-size: 10px;
    margin-left: 2px;
}
.stats{
    font-size: 14px;
    font-weight: bolder;
    color: #828282;
    float: right;
}
.columns{
    margin-top: 0;
    margin-right: 0px;
    margin-left: 0px;  
}
.columns:last-child{
    margin-bottom: 0px;
}
</style>