<template>
    <div id="post">
        <div class="post-bar">
            <p class="title-text">Title Name</p>
            <div class="created-time">
                <span class="icon is-small" style=" vertical-align: -9%;">
                    <i class="fas fa-clock"></i>
                </span>
                <span>12:30 29 ARPIL 2018</span>
            </div>
        </div>
        <div class="post-content" v-html="content"></div>
        <div class="post-footbar">
            <div class="writter-pic"></div>
            <div class="writter-data">
                <p class="writter-name">Username</p>
                <p class="writter-bio">User Biography</p>
            </div>
            
            <div class="like">
                <span class="icon">
                    <i class="fas fa-2x fa-thumbs-up"></i>
                </span>
            </div>
            <div class="no"> 3K<br>Likes </div>
            <div class="no"> 10K<br>Views </div>
        </div>
        <div class="comment">
            <span class="icon is-small" >
                <i class="fas fa-comments"></i>
            </span>
            <span>Comment</span>
        </div>
        <div class="comment-box">
            <div class="comment-pic"></div>
            <div class="comment-input">
                <input class="comment-input-text" type="textarea" placeholder="What do you think about it?">
            </div>
        </div>
        <CommentItem></CommentItem>
        <CommentItem></CommentItem>
        <CommentItem></CommentItem>
        <div class="load-more"><p>...</p></div>
    </div>
</template>

<script>
    import CommentItem from './CommentItem.vue'
    export default {
        name: 'Post',
        data () {
            return {
                content: '<br><br><br><br><br><br><br>'
            }
        },
        components: {
            CommentItem
        }
    }
</script>

<style scoped>
.post-bar {
    margin-top: 20px;
    height: 40px;
    padding: 8px;
    background-color: #31A8D9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.title-text {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #F2F2F2;
}
.created-time {
    float: right;
    font-size: 18px;
    font-weight: bold;
    color: #F2F2F2;
}

.post-content {
    padding: 8px;
    background-color: #F2F2F2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.post-footbar {
    height: 66px;
    background-color: #31A8D9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.writter-pic {
    margin: 5.5px;
    height: 55px;
    width: 55px;
    background-color: #F2F2F2;
    border-radius: 50%;
    float: left;
}
.writter-data {
    margin: 10px 0px 10px 10px;
}
.writter-data, .writter-pic {
    display: inline-block;
}
.writter-name {
    font-weight: bold;
    font-size: 18px;
    color: #F2F2F2;
}

.writter-bio {
    font-style: italic;
    font-size: 12px;
    color: #333333;
}

.like {
    height: 66px;
    width: 55px;
    background-color: #F2994A;
    color: #F2F2F2;
    padding: 15px;
    float: right;
}

.no {
    color: #F2F2F2;
    font-weight: bold;
    font-size: 18px;
    float: right;
    text-align: center;
    padding-right: 13px;
    padding-top: 8px;
}

.comment {
    margin-top: 10px;
    height: 27px;
    padding-left: 8px;
    padding-top: 2px;
    background-color: #F2994A;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    color: #F2F2F2;
    font-weight: bold;
    font-size: 16px;
}

.comment-box {
    background-color: #C4C4C4;
    height: 66px;
    width: 100%;
}
.comment-pic {
    height: 55px;
    width: 55px;
    background-color: #F2F2F2;
    border-radius: 50%;
    float: right;
    margin-top: 5.5px;
    margin-right: 10px; 
}

.comment-input {
    width: calc(85% - 66px);
    height: 44px;
    margin: 11px 20px 11px 0;
    background-color: #F2F2F2;
    border-radius: 5px;
    float: right;
}

.comment-input-text {
    padding: 5px;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #333333;
}

.comment-input, .comment-pic {
    display: inline-block;
}
.load-more {
    height: 25px;
    text-align: center;
    background-color: #BDBDBD;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    color: #F2F2F2;
    font-weight: bold;
    font-size: 14px;
}
</style>