<template>
    <div id="search">
        <div class="input-search-box">
            <input class="input-search" type="text" name="search" placeholder="Search ..">
        </div>
        <div class="search-button">
            <span class="icon">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Search'
    }
</script>

<style scoped>
#search {
    background-color: #31A8D9;
    width: 100%;
    height: 58px;
    padding: 14px 10px 14px 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.input-search-box {
    background-color: #F2F2F2;
    width: calc(100% - 30px);
    height: 30px;
    float: left;
}
.input-search {
    width: 100%;
    font-size: 18px;
    border: none;
    background-color: transparent;
    padding-left: 5px;
    padding-top: 3px;
    color: #828282;
}
.search-button {
    background-color: #F2994A;
    color: #F2F2F2;
    width: 30px;
    height: 30px;
    padding: 3px;
}
.input-search, .search-button {
    display: inline-block;
}
*:focus {
    outline: none;
}
.input-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #828282;
  font-style: italic;
}
.input-search::-moz-placeholder { /* Firefox 19+ */
  color: #828282;
  font-style: italic;
}
.input-search:-ms-input-placeholder { /* IE 10+ */
  color: #828282;
  font-style: italic;
}
.input-search:-moz-placeholder { /* Firefox 18- */
  color: #828282;
  font-style: italic;
}
</style>