<template>
    <div id="signup">
        <div class="columns">
            <div class="column is-7">
                <div class="left-side">
                    <p class="title">Join Us</p>
                    <p class="subtitle">Trends our tag together</p>
                </div>
            </div>
            <div class="column">
                <div class="right-side">
                    
                    <div class="input-box">
                        <p>Username</p>
                        <input class="input-text" type="text" name="username">
                    </div>
                    <div class="input-box"> 
                        <p>E-mail</p>
                        <input class="input-text" type="text" name="email">
                    </div>
                    <div class="input-box"> 
                        <p>Password</p>
                        <input class="input-text" type="password" name="password">
                    </div>
                    <div class="input-box"> 
                        <p>Confirm Password</p>
                        <input class="input-text" type="password" name="confirmpassword">
                    </div>
                    <div class="sign-button">
                        <p>SIGN UP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Signup'
    }
</script>


<style scoped>
#signup {
    background-color: #31A8D9;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.columns {
    height: 100%;
    margin: 0px;
}
.column {
    padding: 0px;
}
.left-side {
    text-align: center;
    margin: auto;
    font-family: 'Neuton', serif;
}
.title {
    font-size: 96px;
    color: #F2F2F2;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: 35%;
}
.subtitle {
    font-size: 36px;
    color: #F2F2F2;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
.right-side {
    height: 100%;
    margin: auto;
    padding-top: 220px;
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
}

.input-box {
    width: 270px;
    margin: auto;
    margin-top: 10px;
    padding: 3px;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}

.input-text {
    width: 100%;
    height: 40px;
    padding-left: 5px; 
    border: none;
    color: #4F4F4F;
    background-color: #EAEAEA;
    font-size: 18px;
}

.sign-button {
    height: 49px;
    width: 270px;
    background-color: #F2994A;
    margin: auto;
    margin-top: 15px;
    color: #F2F2F2;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

*:focus {
    outline: none;
}
</style>