<template>
  <div id="app">
    <NavBar v-show="whereami"></NavBar>
    <router-view/>
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue'
export default {
  name: 'App',
  computed: {
    whereami: {
        get() {
            let aList = ['/login','/signup','/forgot']
            if(aList.includes(this.$route.path)){
                return false
            }
            else return true
        },
        set () {

        }
    }
  },
  components: {
    NavBar
  }
}
</script>

<style>
/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
